body {
    background-color: pink;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#navbar{
	background-color:rgb(255, 217, 197);
	color:#fff;
	padding:10;
}

#navbar1{
	background-color:rgb(255, 79, 111);
	color:#fff;
	list-style: none;
	text-align: center;
	padding: 0.5px;
	padding-top: 15px;
}

#navbar1 ul li{
	display:inline-block;
	padding-right: 70px;
}


#navbar1 a{
	color:#fff;
	text-decoration: none;
	font-size:19px;
	padding-right:10px;
}

#navbar1 a:hover {
	color: black;
}


.boxed {
    border: 3px solid black;
    background-color: rgb(255, 217, 197);
    height: 300px;
    width: 900px;
    text-align: center;
    font-family: 'Indie flower';
    padding: 80px;
    padding-bottom: 110px;
    font-weight: bolder;
    box-sizing: content-box;
    align-self: center;
}

#border {
    padding-left: 300px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-self: center;

}

.navbarlink {
    color: rgb(255, 79, 111);
    font-size: 18px;   

}
.navbarlink:hover {
    color: black;

}
